.post-list {
    list-style: none;
    padding: 0;
}
.post-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-list-item:hover {
    background-color: #f9f9f9;
}

.post-title {
    font-size: 1.1rem;
    color: #333;
    font-weight: 500;
    text-align: left;
    margin-left: 10px;
    flex:1;
}
.post-id {
    font-size: 0.9rem;
    color: #727272;
    align-self: flex-start;
    margin-left: 0;
    align-items: baseline;
    border-right: 2px solid #f0f0f0;
    padding-right: 5px;
    min-width: 10%;
}

.post-meta {
    display: flex;
    align-items: center;
    gap: 20px; /* 작성자와 조회수 사이 간격 */
    font-size: 0.9rem;
    color: #666;
}

.post-writer {
    /* 개별 스타일이 필요하다면 여기에 추가 */

}

.post-views {
    /* 개별 스타일이 필요하다면 여기에 추가 */
    align-self: flex-end;
    min-width: 20%;
    border-left: 2px solid #f0f0f0;
    padding-left: 10px;
    min-width: 100px;
}

.no-posts {
    text-align: center;
    padding: 50px;
    color: #888;
}