.post-form-input {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 14px;
    font-size: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
}

.post-form-input:focus {
    border-color: #ff4d4f;
}

.post-form-actions {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    position: relative;
    bottom: 0;
}

.post-form-actions button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.post-form-actions button:hover {
    background-color: #d9363e;
}

.post-form-container{
    /**/
}